PORT=3000

# For Docker Compose, use collab, identity, and messaging as the hosts.
COLLAB_HOST=127.0.0.1
COLLAB_PORT=3001
IDENTITY_HOST=127.0.0.1
IDENTITY_PORT=3002
MESSAGING_HOST=127.0.0.1
MESSAGING_PORT=3003
